div#content {
  margin: 0 10px;
}
div#edit_form, div#data_table {
  float:left;
  width: 400px;
}

form#edit_cow {
  padding: 20px;
  border: 1px solid gray;
  width: 350px;
  margin: 10px 0;
}
form#edit_cow label {
  float: left;
  display: inline-block;
  width:100px;
}

form#edit_cow button {
  margin-top: 10px;
}

form#edit_cow input {
  float: left;
  display: inline-block;
  width:100px;
}

table#cows_table {
  padding-top: 10px;
}
th {
  text-align:left;
}
.cow_name, .cow_breed{
  width:150px;
}
.cow_age {
  text-align: right;
}